body {
    background-color: burlywood;
}

div, a, li {
    border-radius: 20px;
    background-color: bisque;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

div, li {
    display: inline-block;
    width: auto;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}